
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div> 
        <p style="color: green">Trang Index3</p> 
        <P> ID = @ViewBag.id</P>
        <p> NAME = @ViewData["Name"]</p>
    </div>
</body>
</html>
