
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section SubHeader{
    <p style="background-color:green">SubHeader About</p>

}
<h2>About</h2>

@section SubFooter{
    <p style="background-color:green">SubFooter About</p>

}