
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section SubHeader{
    <p style="background-color:red">SubHeader Contact</p>

}
<h2>Contact</h2>

@section SubFooter{
    <p style="background-color:red">SubFooter Contact</p>

}
