
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section SubHeader{
    <p style="background-color:yellow">SubHeader Home</p>

}
<h2>Home</h2>

@section SubFooter{
    <p style="background-color:yellow">SubFooter Home</p>

}
